{% extends "base.html" %}

{% block title %}EduPlatform{% endblock %}
{% block logo %}EduPlatform{% endblock %}

{% block content %}
    <div class="container">
        <div class="login-card">
            <div class="logo">EduPlatform</div>
            <form id="loginForm">
                <input type="email" id="email" placeholder="test@test.com" required>
                <input type="password" id="password" placeholder="123456" required>
                <button type="submit" class="btn">Войти в систему</button>
            </form>
        </div>
    </div>
{% endblock %}
